*.pyc
*.o
*.a
*~
*#
*.swp

lib/autom4te.cache/*
lib/Makefile
lib/Makefile.in
lib/config.h.in
lib/libxdifile.pc
lib/build-aux
lib/build
lib/m4
lib/aclocal.m4
lib/config.log
lib/config.status
lib/configure
lib/libxdifile.so
lib/stamp-h1
lib/xdi_reader
lib/writetest

languages/fortran/Makefile
languages/fortran/config.h
languages/fortran/config.log
languages/fortran/config.status
languages/fortran/stamp-h1
languages/fortran/xdi_example1

languages/python/build/*

languages/perl/_Inline
languages/perl/_build
languages/perl/blib
languages/perl/Build
languages/perl/META.yml
languages/perl/MYMETA.yml
languages/perl/MYMETA.json
languages/perl/MANIFEST.bak
languages/perl/Makefile
languages/perl/Makefile.old
languages/perl/XDIFile.inl
languages/perl/pm_to_blib
languages/perl/t/baddata/coverage.txt
languages/perl/*.inl

*.aux
*.dvi
*.nav
*.out
*.snm
*.toc
latex/auto/*
latex/xdi.log
latex/xdi.pdf
doc/Poster_XAFS15/XDI_Poster.log

specification/auto/*
specification/background_inner.tex
specification/*_inner.tex
specification/xdi_*.log
