*.pyc
*.o
*.a
*~
*#

c/autom4te.cache/*
c/Makefile
c/aclocal.m4
c/config.h
c/config.h.in
c/config.log
c/config.status
c/configure
c/libxdifile.so
c/stamp-h1
c/xdi_reader

fortran/Makefile
fortran/config.h
fortran/config.log
fortran/config.status
fortran/stamp-h1
fortran/xdi_example1

python/build/*

perl/_Inline
perl/_build
perl/blib
perl/Build
perl/META.yml
perl/MYMETA.yml
perl/MYMETA.json
perl/MANIFEST.bak
perl/Makefile
perl/Makefile.old
perl/XDIFile.inl
perl/pm_to_blib
_Inline/*
perl/t/baddata/coverage.txt
perl/*.inl

*.aux
*.dvi
*.nav
*.out
*.snm
*.toc
latex/auto/*
latex/xdi.log
latex/xdi.pdf
doc/Poster_XAFS15/XDI_Poster.log

specification/auto/*
specification/background_inner.tex
specification/*_inner.tex
specification/xdi_*.log
